.mascot {
    width: clamp(100px, 20vw, 300px);
    height: clamp(100px, 20vw, 300px);
    background: url('/public/mascot.png') no-repeat center center/contain;
    margin-top: 20px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

@media (max-width: 768px) {
    .mascot {
        width: 150px;
        height: 150px;
        bottom: 5px;
        left: 5px;
    }
}